/* reset */
$BLACK: #111111;
$WHITE: #ffffff;
$GREY_01: #F1F1F1;
$GREY_02: #DFDFDF;
$GREY_03: #A4A4A4;
$GREY_04: #656565;
$GREY_05: #4C4B4B;
$GREY_06: #272727;
$COLOR_MAIN: #444d6d; // #0d1364 00579e
$COLOR_MAIN_DARK: #242838; // #0d1364 00579e

/* font */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../../font/woff2/Pretendard-Black.woff2') format('woff2'), url('../../font/woff/Pretendard-Black.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../../font/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../../font/woff/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../../font/woff2/Pretendard-Bold.woff2') format('woff2'), url('../../font/woff/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../../font/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../../font/woff/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../../font/woff2/Pretendard-Medium.woff2') format('woff2'), url('../../font/woff/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../../font/woff2/Pretendard-Regular.woff2') format('woff2'), url('../../font/woff/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../../font/woff2/Pretendard-Light.woff2') format('woff2'), url('../../font/woff/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../../font/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../../font/woff/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('../../font/woff2/Pretendard-Thin.woff2') format('woff2'), url('../../font/woff/Pretendard-Thin.woff') format('woff');
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;box-sizing:border-box;vertical-align:baseline;background:transparent;font-family:'Pretendard';color:$BLACK;}
html {height:100%;font-size:10px;}
body {position:relative;height:100%;line-height:1.3;background-color:$WHITE;cursor:none;}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
p {font-size:1.6rem;}